[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
[access "refs/for/refs/*"]
	read = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	push = group Qt-FeeManagement-Developers
	push = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	label-Code-Review = -2..+2 group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	label-Verified = -1..+1 group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	rebase = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	removeReviewer = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	submit = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
[access "refs/heads/*"]
	read = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	create = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	push = group Qt-FeeManagement-Developers
	push = +force group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	pushMerge = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
[access "refs/tags/*"]
	push = group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
	push = +force group user/Rajesh Reddy Nanjarapalli (nanjarapalli)
